*{margin:0px;
padding:0px;}
body{
background:black;
}	
.i
		
	}
		

.s{ 
margin-top:15px;
margin-left:px;

}

.s ul li a{
         width:180px;
         color:white;		 
		 height:60px;          
		 font-size:20px;
        border-radius:7px;	
		text-align:center;	
}
.s  ul li a:hover{
	background:linear-gradient(to bottom right,red,yellow);
		 }
		
		
	.panel-footer{
	background-color:#000ff;}
		
	
		
	}
	.a{
		width:200px;
		height:200px;
		background:red;
		
		
	}
	
	
	